@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.google.com/specimen/Oleo+Script?query=Oleo");


/* Apply the gradient background to the whole app */
html, body {
  height: 100%;
}

body {
  background-color: transparent;
  background-image: linear-gradient(to bottom,  #1fb6ff,#4c545e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/* Style the navbar */
.navbar {
  background-color: #2d3748;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  flex-grow: 1;
}

/* Style the navbar title */
.navbar-title {
  color: aquamarine;
  font-family: 'oleo-script', sans-serif;
}

/* Style the navbar buttons*/
.navbar-button {
  background-color: #4299e1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

/* Style the login form */
.login-form {
  background-image: linear-gradient(to bottom right, red, yellow, beige);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  width: 600px;
}

/* Style the login button */
.login-button {
  background-color: #0a1722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  align-self: center;
  text-align: center;
}

/* Style the login button on hover */
.login-button:hover {
  background-color: #5e6164;
}

/* Breakdown Container */
.breakdown-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin: auto;
  max-width: 1200px;
}


.breakdown-card {
  /* background-color: #fff; */
  background-image: linear-gradient(to bottom right, red, yellow, beige);
  border-radius: 8px;
  box-shadow: 0 px 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 200px;
  border: 5px solid #000;
}

.breakdown-card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.card-button {
  flex-grow: 1;
  background-color: #0a1722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  align-self: center;
  text-align: center;
}

.card-button:hover {
  background-color: #5e6164;
}